* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0 auto;
    margin-left: 7em;
    /* overflow: hidden; */
    max-width: 90%;
}

section {
    display: flex;
}

.left {
    width: 50%;
}
.fa-arrow-left {
    position: relative;
    left: -1px;
    bottom: 10px;
}
.back {
    background-color: transparent;
    padding: 7px 7px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 2em;
    margin-top: 0.5em;
}



p {
    font-size: 16px;
    color: #2c2a2a;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

input {
    padding: 0.7em 4em;
    background-color: rgb(243, 240, 240);
    border: none;
    outline: none;
    border-radius: 10px;
    margin-bottom: .5em;
}



.btn {
    padding: 1em 8.5em;
    background-color: red;
    color: white;
    border: none;
    outline: none;
    border-radius: 20px;
    /* margin-top: 0.5em; */
}
span {
    color: red;
    font-weight: bold;
}

